
*{ 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: Roboto,sans-serif;
}

ul {
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.mt-220 {
    margin-top: 220px;
}

.text-center {
    text-align: center;
}