*{ 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: Roboto,sans-serif;
}

ul {
    list-style: none;
}

.mt-200 {
    margin-top: 200px;
}

.text-center {
    text-align: center;
}