.block-item img {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
    width: 100%;
}

.block-item .card-item {
    font-size: 4rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
}

.block-item .card-item .title h1 {
    text-align: center;
    font-weight: 700;
}

.block-item .card-item p {
    color: #78838c;
    padding: 8px;
}

.block-item .card-item .btn {
    font-size: 1.5rem;
    font-weight: 600;
    width: 100%;
}