.form {
    font-size: 2.6rem;
}

.form-group label {
    font-size: 1.4rem;
}

.form-group input {
    padding: 8px;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}