.form {
    font-size: 2.6rem;
}

.err-message {
    font-size: 1.4rem;
    margin: 8px 0;
    color: #ff0000;
}

.form-group label {
    font-size: 1.4rem;
}

.form-group input {
    padding: 8px;
}

.form button {
    margin-right: 8px;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}